#logo {
	margin: 0% 37%;
}
#logo > img {
	width: 100%;
	height: 200px;
}
#content {
	display: flex;
	flex-direction: row;
	width: 100%;
}
#login {
	display: flex;
	flex-direction: column;
	font-family: bold;
	width: 100%;
	/*border: 1px solid red;*/
}
.border {
	border: 1px solid black;
	padding: 0% 5%;
	margin: 3% 15%;
	text-align: center;
}
.border1 {
	border: 1px solid black;
	padding: 0% 5%;
	margin: 3% 15%;
	text-align: center;
}
#newuser {
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
}
#newuser > div {
	margin: 1% 15%;
	font-size: 25px;
}
#newuser > ul {
	margin: 1% 15%;
	font-size: 18px;
}
#newuser > button {
	background-color: black;
	color: white;
	margin: 3% 15%;
	padding: 2% 0;
	color: white;
	text-decoration: none;
}
#div {
	display: flex;
	flex-direction: row;
}
#div > #div1 {
	padding: 0% 0% 0% 0%;
}
#div > #div2 {
	padding: 0% 0% 0% 20%;
}
.border1,
.border1 > form {
	display: flex;
	flex-direction: column;
}
.border1 > form > input {
	background-color: whitesmoke;
	height: 50px;
	margin: 2% 0;
}
#email,
#password {
	border: none;
}
.border1 > form > button {
	background-color: black;
	height: 50px;
	margin: 2% 0;
	color: white;
}
