#page {
	display: flex;
	flex-direction: column;
}
#logo {
	margin: 0% 37%;
}
#logo > img {
	width: 100%;
	height: 200px;
}
#sign {
	display: flex;
	flex-direction: column;
}
#s {
	text-align: center;
	font-size: 20px;
	padding: 2% 0%;
}
#signup-form {
	border: 1px solid black;
	margin: 0% 32%;
}
form > #gender {
	margin: 5% 5%;
	width: 20%;
	height: 40px;
	background-color: whitesmoke;
}
form > #firstname {
	margin: 5% 5%;
	width: 57%;
	height: 40px;
	background-color: whitesmoke;
}
form > #lastname {
	margin: 5% 5%;
	width: 87%;
	height: 40px;
	background-color: whitesmoke;
}
form > #code {
	margin: 5% 5%;
	width: 20%;
	height: 40px;
	background-color: whitesmoke;
}
form > #number {
	margin: 5% 5%;
	width: 57%;
	height: 40px;
	background-color: whitesmoke;
}
form > #email {
	margin: 5% 5%;
	width: 87%;
	height: 40px;
	background-color: whitesmoke;
}
form > #password {
	margin: 5% 5%;
	width: 87%;
	height: 40px;
	background-color: whitesmoke;
}
#ch {
	display: flex;
	flex-direction: column;
}
#ch > div {
	margin: 2% 5%;
}
form > button {
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
}
